/*
Theme Name: Regina Lite
Theme URI: http://www.machothemes.com/themes/regina-lite/
Author: Macho Themes
Author URI: http://www.machothemes.com/
Description: Regina Lite is a medical wordpress theme, suitable for medical clinics, dentistry websites, medical research facilities and more.
Version: 1.0.14
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: regina-lite
Tags: light, black,blue, silver, dark, fixed-layout, fluid-layout, responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
*/

@import 'layout/css/styles.min.css';

body {
    background-color: #fff;
}

.wp-caption,
.wp-caption-text,
.sticky,
.screen-reader-text,
.gallery-caption,
.bypostauthor,
.alignright,
.alignleft,
.aligncenter {
	margin: 0;
}

#ui-datepicker-div {
	display: none;
}

#sub-header a {
    color: #333;
}

#sub-header a:hover {
    color: #08cae8;
}

#blog-navigation li span.page-numbers.current {
	display: block;
    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 43px;
    text-align: center;
    color: #333333;
    border: 2px solid #ffffff;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

#sidebar {}

#sidebar .widget {}

#sidebar .widget.widget_search {}

#sidebar .widget.widget_search .search-form {
    display: block;
}

#sidebar .widget.widget_search input[type="text"] {
    float: left;
    padding-left: 20px;
    width: 83.42857142857143%;
    height: 45px;
    background: #f4f4f4;
    font-size: 18px;
    color: #333333;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#sidebar .widget.widget_search .search-btn {
    float: right;
    width: 12.857142857142856%;
    height: 45px;
    background: #08cae8;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#sidebar .widget.widget_tag_cloud {}

#sidebar .widget.widget_tag_cloud ul {}

#sidebar .widget.widget_tag_cloud ul li {}

#sidebar .widget.widget_tag_cloud a {
    display: block;
    margin: 0 10px 10px 0;
    padding: 7px 15px;
    background: #333333;
    font-size: 14px;
    color: #ffffff;
    float: left;
}

#sidebar .widget.widget_tag_cloud a:hover {
    background: #08cae8;
}

#sidebar .widget #wp-calendar {
    width: 100%;
    position: relative;
}

#sidebar .widget #wp-calendar caption {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #08cae8;
    color: #fff;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

#sidebar .widget #wp-calendar thead {
    background: #f5f5f5;
}

#sidebar .widget #wp-calendar thead th {
    line-height: 50px;
    color: #333;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
}

#sidebar .widget #wp-calendar thead th:last-child {
    border-right: none;
}

#sidebar .widget #wp-calendar tbody {
    background: #f5f5f5;
}

#sidebar .widget #wp-calendar tbody a {
}

#sidebar .widget #wp-calendar tbody tr {
}

#sidebar .widget #wp-calendar tbody tr:last-child {
}

#sidebar .widget #wp-calendar tbody tr td {
    width: 44px;
    line-height: 50px;
    text-align: center;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #808080;
}

#sidebar .widget #wp-calendar tbody tr td a {
    background: #e1e1e1;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #808080;
    line-height: 30px;
    text-decoration: none;
}

#sidebar .widget #wp-calendar tfoot {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#sidebar .widget #wp-calendar tfoot tr {
    width: 100%;
    height: 50px;
    display: block;
}

#sidebar .widget #wp-calendar tfoot tr td {
    height: 50px;
}

#sidebar .widget #wp-calendar tfoot tr td a {
    height: 50px;
    line-height: 50px;
    color: #fff;
}

#sidebar .widget #wp-calendar tfoot tr td#prev {
    float: left;
}

#sidebar .widget #wp-calendar tfoot tr td.pad {
    display: none;
}

#sidebar .widget #wp-calendar tfoot tr td#next {
    float: right;
}

#sidebar .widget ul {}

#sidebar .widget ul li {
    line-height: 40px;
}

#sidebar .widget.widget_regina_lite_recent_posts li:before,
#sidebar .widget.widget_regina_lite_categories li:before,
#sidebar .widget.widget_regina_lite_recent_comments li:before {
    font-size: 10px;
    margin-right: 10px;
    color: #08cae8;
}

#sidebar .widget ul li a {
    color: #333;
}

#sidebar .widget ul li a:hover {
    color: #08cae8;
}

#blog .post #post-navigation a[rel="prev"] {
    float: left;
}

#blog .post #post-navigation a[rel="prev"] span {
    margin-right: 10px;
}

#blog .post #post-navigation a[rel="next"] {
    float: right;
}

#blog .post #post-navigation a[rel="next"] span {
    margin-left: 10px;
}

#comments-list ul.comments li.comment p {
    margin: 0 0 20px;
    color: #808080;
}

#comments-list ul.comments li.comment ul.children {
    padding-left: 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#respond {
    margin: 0 0 100px;
}

#respond .comment-form input[type="text"],
#respond .comment-form input[type="email"],
#respond .comment-form input[type="url"] {
    display: block;
    height: 40px;
    margin: 0 0 30px;
    width: 100%;
    padding-left: 20px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: none;
    border: 2px solid #ebebeb;
    outline: none;
    resize: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-appearance: none;
    appearance: none;
}
#respond .comment-form textarea {
    display: block;
    margin: 0 0 30px;
    padding-top: 20px;
}

#respond #button {
    display: inline-block;
    padding: 12px 35px;
    background: #08cae8;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
}

#respond #button:hover {
    background: #333333;
    color: #ffffff;
}

#header #logo {}

#header #logo:hover a span.logo-title {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #08cae8;
}

#header #logo a {
    width: 100%;
    float: left;
}

#header #logo a span {
    width: 100%;
    display: block;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
}

#header #logo a span.logo-title {
    line-height: 32px;
    font-weight: 700;
    font-size: 30px;
    //color: rgb(51, 51, 51);
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#header span.logo-address{
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#header #logo a span.logo-description {
    line-height: 16px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.link-pages {
    margin-top: 50px;
}

.link-pages a {
    margin: 0 5px;
}

#sidebar .col-md-4 {
    position: static;
}

#sidebar .col-md-4 .morphsearch input[type="text"] {
    width: 100%;
    height: 160px;
    background: #fff !important;
    border: none;
    font-size: 70px;
    font-weight: bold;
    color: #333333;
}

.search-form {
    display: none;
}

#header #logo a img {
    width: auto;
    max-height: 80px;
}

#blog #related-posts {
    margin-bottom: 50px;
}

#blog #related-posts .post {
    margin-bottom: 0;
}

#blog #related-posts .owl-controls {
    margin-top: 15px;
}

#navigation {
    position: relative;
    z-index: 1;
}

.markup-format ul,
.markup-format ol {
    margin: 0;
    padding: 0;
    display: block;
    list-style-position: inside;
    float: none;
}

.markup-format ul li,
.markup-format ol li {
    margin: 0;
    padding: 0;
    float: none;
}

.markup-format ul {
    list-style-type: disc;
}

.markup-format ul li {}

.markup-format ul li ul {
    margin-left: 20px;
}

.markup-format ol {}

.markup-format ol li {}

.markup-format ol li ol {
    margin-left: 20px;
}

.markup-format img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

.markup-format img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

.markup-format img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markup-format .alignright {
    float: right;
}

.markup-format .alignleft {
    float: left;
}

.markup-format .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markup-format .alignnone {
    max-width: 100% !important;
    height: auto;
}

.markup-format img {
    max-width: 100%;
    height: auto;
}

.markup-format table {
    width: 100%;
}

.markup-format table caption {
    color: #808080;
    margin-bottom: 10px;
    font-weight: 700;
}

.markup-format table thead {
    color: #808080;
}

.markup-format table thead th {
    padding-bottom: 5px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.markup-format table thead th:last-child {
    border-right: none;
}

.markup-format table tbody {
    color: #808080;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.markup-format table tbody a {
    font-weight: 700;
}

.markup-format table tbody tr {
    border-bottom: 1px solid #eee;
}

.markup-format table tbody tr:last-child {
    border-bottom: none;
}

.markup-format table tbody tr td {
    border-right: 1px solid #eee;
    padding: 7px;
}

.markup-format table tbody tr td:last-child {
    border-right: none;
}

.markup-format table tfoot {
    font-size: 14px;
    color: #808080;
}

.markup-format table tfoot #next {
    text-align: right;
}

.markup-format table a {
    color: #808080;
    text-decoration: underline;
}

.markup-format table a:hover {
    text-decoration: none;
}

.markup-format table td#prev {
    padding-top: 10px;
}

.markup-format table td#prev a {
    color: #808080;
}

.markup-format table td#next {
    padding-top: 10px;
}

.markup-format table td#next a {
    color: #808080;
}